#connect {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#f46b6b, #d9af56);
    color: whitesmoke;
}
#connect h1 {
    left: 4vh;
    transform: translateY(-34vh);
    position: absolute;
    font-size: 20vh;
    color: rgba(225, 225, 225, 0.418);
}
#connectContent {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}
#connectContent a {
    margin: 2%;
    text-decoration: none;
    color: inherit;
}
.sns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11vh;
    height: 11vh;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin: 0 5vh;
}
.fa-brands {
    font-size: 4vh;
    z-index: 100;
}

.bingle {
    position: absolute;
    width: 15vh;
    height: 15vh;
    border-radius: 76% 64% 71% 57% / 85% 78% 67% 60%;
    top: 11vh;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
        top: 11vh;
    }
    100% {
        transform: rotate(360deg);
        top: 0vh;
    }
}

@-webkit-keyframes instaSpin {
    0% {
        transform: rotate(0deg);
        top: 11vh;
        background-color: #72488f;
    }
    60% {
        background-color: #c92d54;
    }
    100% {
        transform: rotate(360deg);
        top: 0vh;
        background-color: #ffc258;
    }
}
