#connect {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#f2de74, #9374f2);
    color: whitesmoke;
}
#connect h1 {
    left: 4vh;
    transform: translateY(-34vh);
    position: absolute;
    font-size: 20vh;
    color: rgba(125, 125, 125, 0.418);
}
#connectContent {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}
#connectContent a {
    margin: 2%;
    text-decoration: none;
    color: inherit;
}
.sns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11vh;
    height: 11vh;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin: 0 5vh;
}
.fa-brands {
    font-size: 4vh;
    z-index: 100;
}
.facebook {
    /* border: 0.5vh solid #0072ff; */
    /* transition-duration: 0.1s; */
}

.instagram {
    /* background: linear-gradient(#833ab4, #fd1d1d, #fcb045); */
    /* transition-duration: 0.5s; */
}

.youtube {
    /* background-color: #e52d27; */
    /* transition-duration: 0.5s; */
}

.twitter {
    /* background-color: #00acee; */
    /* transition-duration: 0.5s; */
}

.bingle {
    position: absolute;
    width: 15vh;
    height: 15vh;
    background-color: #012e6485;
    border-radius: 76% 64% 71% 57% / 85% 78% 67% 60%;
    /* animation: spin 2s infinite; */
    top: 11vh;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
        top: 11vh;
    }
    100% {
        transform: rotate(360deg);
        top: 0vh;
    }
}
