footer {
    display: none;
    width: 100%;
    height: 8vh;
    background: rgb(34, 34, 34);
    align-items: center;
    justify-content: space-between;
}
footer div {
    margin-left: 5vh;
    font-size: 1.5vh;
    color: whitesmoke;
}

footer #github {
    margin-right: 5vh;
    width: 5vh;
    height: 5vh;
    filter: invert(100%);
}
