#music {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#5b59c2, #7d3fa6);
    color: whitesmoke;
    padding-bottom: 5.3%;
}
#music #title {
    left: 4vh;
    transform: translateY(-34vh);
    position: absolute;
    font-size: 20vh;
    color: rgba(192, 192, 192, 0.418);
}
#musicTitle {
    right: 4vh;
    transform: translateY(34vh);
    position: absolute;
    font-size: 20vh;
    color: rgba(192, 192, 192, 0.24);
}
#musicList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
#musicList button {
    background-color: transparent;
    border: none;
}
#musicList button img {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}

#musicWrap {
    width: 55vh;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 10%;
    transition-duration: 0.5s;
}
#musicWrap.active {
    width: 110vh;
}
#albumCover {
    width: 55vh;
    z-index: 80;
    cursor: pointer;
}
iframe {
    display: none;
    position: absolute;
    width: 55vh;
    height: 55vh;
    z-index: 88;
}
#LP {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.644);
    align-items: center;
    margin-left: 0;
    cursor: url("/img/cursor.cur"), auto;
    transition-duration: 0.3s;
}
#LP:hover {
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.445);
}
.rotateLP {
    animation: rotate 10s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
#LPImg {
    position: relative;
    width: 22vh;
    height: 22vh;
    border-radius: 50%;
    opacity: 0.8;
}
#LPHole {
    position: absolute;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    opacity: 0.8;
    background-color: black;
}
