* {
    margin: 0;
}

.MainImg {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.LogoImg {
    position: absolute;

    width: 80%;
    height: 80vh;
    object-fit: contain;
}
